<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRO DE VENDAS LABMAKER</title>
</head>
<body>
    <t1>REGISTRO DE VENDAS LABMAKER</t1>

{<div class="collapse navbar-collapse" id="conteudo-navbar">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a href="/admin" title="Página de Administração LABMAKER!">
							Página de Administração LABMAKER
							</a>
						<li>
							<a href="http://localhost:3000/dashboard/5-registros-vendas-labmaker" title="Dashboard LabMaker">
							Dashboard LabMaker
							</a>
					    </li>
					</ul>
				</div>

</body>
</html>